.mainheader {
	height: 50px;
	overflow: hidden; 
	background-color: #D0ECE7;
	padding: 10px 12px;
	display: flex; 
	width: 100vw;
	border-bottom: 2px solid black;
	z-index: 4;
}
.mainheader img {
	height: auto;
	width: 50px;
	height: 50px;
}
.header_tekst_venstre {
	float: left; 
   letter-spacing: 5px;
	font-size: 20px;
	margin-left: 30px;
	
}
.header_tekst_venstre a {
	text-decoration: none;
	
}
.mainheader ul{
	position: absolute;
	
}
.header_linker {
	display: block;
	position: absolute;
	right: 25%;
	word-spacing: 25vw;
	font-size: 30px;
	margin-top: 25px;
	letter-spacing: 8px;
	text-decoration: none;
	list-style-type: none;
}
.header_linker a {
	text-decoration: none;
	color: black;
	
}
.header_linker li {
	display: inline-block;
	
}
.smallscreenheader {
	display: flex;
	width: 100%;
	display: none;
	z-index: 4;
	
}
.smallscreenheader {
	word-spacing: 35vw;
}
.smallscreenheader li {
	list-style-type: none;
	font-size: 25px;
	display: inline-block;
	
}
.smallscreenheader a {
	color: black; 
	text-decoration: none;
	margin-left: 50%;
	letter-spacing: 8px;
}
/* Meny som dropper ned når du hovrer over strekene */
.droppheader {
	
    position: absolute;
    top: 27.5px;
    right: 40px;
	display: none;

}

/*MENY FOR MINDRE SKJERMER */
@media only screen and (max-width: 900px){
	.mainheader ul{
		display: none;
	}
	.smallscreenheader{
		display: block;
	}
	
	.header_tekst_venstre {
		margin-left: 30%;
	}
}